body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-image: url("Background 4.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h2 {
    margin-top: 3px;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  width: 50%; /* Set the width to half of the container */
  margin: 20px auto; /* Center the divider horizontally with margin */
}

ul {
    margin: 0 0 15px 5px;
    padding: 4px 3px;
    list-style-position: inside;
}

li {
    text-align: justify;
    margin-bottom: 4px;
}

nav {
    background-color: #666;
    padding: 0.87em;
    margin: 20;
    text-align: center;
}

img {
    max-height: 200px; /* 8 lines of text, 1.5em line height */
    width: auto; /* Maintain aspect ratio */
    display: block;
    align-items: left;
    margin-top: 12px; /* Add a margin of 10 pixels to the top */
 
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0.5em 0.4em;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    flex: 1 0 auto;
}

section {
    padding: 10px 15px;
    line-height: 1.4;
    text-align: justify;
    margin: 0;
    
}

section p {
    margin: 2; /* Adjust the value to control the spacing */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.container {
  max-width: 800px; /* Adjust this value to your preferred maximum width */
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden; /* Clear any floats inside the container */
}

.hp-profile-image {
    float: left;
    margin-right: 25px;
}


#last-updated {
    text-align: right;
    font-style: italic;
  }