body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Body Background.png");
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 1em;
    max-width: 4000px;
}

header {
    background-image: url("Background 5.jpg");
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 1em;
    max-width: 4000px;
    background-color: #333;
    color: #fff;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1.0);
}

h1 {
    margin-top: 20x;
    margin-bottom: 10px;
    font-size: 1.8em; /* Adjust the value as needed */
}

h3 {
    margin-top: 3px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 3px;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  width: 50%; /* Set the width to half of the container */
  margin: 20px auto; /* Center the divider horizontally with margin */
}

ul {
    margin: 0 0 10px 5px;
    padding: 4px 3px;
    list-style-position: inside;
}

li {
    text-align: justify;
    margin-bottom: 4px;
}

nav {
    background-color: #666;
    padding: 0.6em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0.5em 0.4em;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    flex: 1 0 auto;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.hp-profile-image {
    float: left;
    margin-right: 25px;
    max-width: 160px; /* 8 lines of text, 1.5em line height */
    width: auto; /* Maintain aspect ratio */
    display: block;
    align-items: left;
    margin-top: 12px; /* Add a margin of 10 pixels to the top */
}

section {
    padding: 10px 15px;
    line-height: 1.4;
    text-align: justify;
    margin: 0;
    
}

section p {
    margin: 2; /* Adjust the value to control the spacing */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-image: url("Footer.jpg");
    background-size: cover;
    background-position: center;
    max-width: 4000px;
}

.container {
  max-width: 900px; /* Adjust this value to your preferred maximum width */
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden; /* Clear any floats inside the container */
}



#last-updated {
    text-align: right;
    font-style: italic;
  }

